.cm-editor .cm-scroller {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    line-height: normal;
    color: #3f4350;
}

.cm-editor .cm-activeLine {
    background: transparent;
}

.cm-editor.cm-focused .cm-activeLine {
    background: rgba(0, 0, 0, 0.05);
}

/* .cm-editor .cm-selectionBackground,
.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
    background: rgb(223, 239, 255);
} */

.cm-editor .cm-matchingBracket,
.cm-editor.cm-focused .cm-matchingBracket,
.cm-editor .cm-nonmatchingBracket,
.cm-editor.cm-focused .cm-nonmatchingBracket {
    background: transparent;
    position: relative;
    z-index: 0;
    display: inline-block;
}

.cm-editor .cm-matchingBracket::before,
.cm-editor .cm-nonmatchingBracket::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -1px;
    right: -1px;
    border-radius: 2px;
    background: rgba(0, 63, 255, 0.25);
}

.cm-editor .cm-nonmatchingBracket::before {
    background: rgba(255, 0, 0, 0.2);
}

.cm-editor .cm-heading {
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.5;
}

.cm-editor .cm-heading-1 {
    font-size: 28px;
}

.cm-editor .cm-heading-2 {
    font-size: 25px;
}

.cm-editor .cm-heading-3 {
    font-size: 22px;
}

.cm-editor .cm-heading-4 {
    font-size: 19px;
}

.cm-editor .cm-heading-5 {
    font-size: 15px;
}

.cm-editor .cm-heading-6 {
    font-size: 1em;
}

.cm-editor .cm-strong {
    font-weight: bold;
}

.cm-editor .cm-emphasis {
    font-style: italic;
}

.cm-editor .cm-strike-through {
    text-decoration: line-through;
}

.cm-editor .cm-clickable-link {
    color: #386fe5;
}

.cm-editor .cm-link-error {
    color: #d24b4e;
}

.cm-editor .cm-clickable-link:hover {
    text-decoration: underline;
}

.cm-editor .cm-inline-code {
    display: inline-block;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    background: rgba(63, 67, 80, 0.1);
}

.cm-editor .cm-image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
}

.cm-editor hr.cm-horizontal-rule {
    position: relative;
    top: -0.2em;
    display: inline-block;
    margin: 0;
    width: 99%;
    height: 1px;
    border: none;
    background: rgba(63, 67, 80, 0.25);
}
