.cm-editor .cm-scroller {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    line-height: normal;
    color: #3f4350;
}

.cm-editor .cm-content {
    padding: 0 10px;
}

.cm-editor .cm-line {
    padding: 0;
}

.cm-editor .cm-activeLine {
    background: transparent;
}

.cm-editor.cm-focused .cm-activeLine {
    background: rgba(0, 0, 0, 0.05);
}

/* Selection **********************************************************************************************************/
/* .cm-editor .cm-selectionBackground,
.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
    background: rgb(223, 239, 255);
} */

.cm-editor .cm-matchingBracket,
.cm-editor.cm-focused .cm-matchingBracket,
.cm-editor .cm-nonmatchingBracket,
.cm-editor.cm-focused .cm-nonmatchingBracket,
.cm-editor .cm-selectionMatch {
    display: inline-block;
    border-radius: 2px;
    background: rgba(0, 63, 255, 0.25);
}

.cm-editor .cm-nonmatchingBracket::before {
    background: rgba(255, 0, 0, 0.2);
}

/* Headings & HR ******************************************************************************************************/
.cm-editor .cm-line.cm-heading {
    font-weight: 700;
    line-height: 1.5;
    padding: 10px 0;
}

.cm-editor .cm-line.cm-heading:first-child {
    padding-top: 0;
}

.cm-editor .cm-line.cm-heading-1 {
    font-size: 28px;
}

.cm-editor .cm-line.cm-heading-2 {
    font-size: 25px;
}

.cm-editor .cm-line.cm-heading-3 {
    font-size: 22px;
}

.cm-editor .cm-line.cm-heading-4 {
    font-size: 19px;
}

.cm-editor .cm-line.cm-heading-5 {
    font-size: 15px;
}

.cm-editor .cm-line.cm-heading-6 {
    font-size: 1em;
}

.cm-editor .cm-line.cm-horizontal-rule {
    position: relative;
    padding: 10px 0;
}

.cm-editor .cm-line.cm-horizontal-rule:not(.cm-selected) {
    color: transparent;
}

.cm-editor .cm-line.cm-horizontal-rule:not(.cm-selected)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(63, 67, 80, 0.25);
}

/* Inline *************************************************************************************************************/
.cm-editor .cm-strong {
    font-weight: bold;
}

.cm-editor .cm-emphasis {
    font-style: italic;
}

.cm-editor .cm-strike-through {
    text-decoration: line-through;
}

.cm-editor .cm-clickable-link {
    color: #386fe5;
}

.cm-editor .cm-clickable-link:hover {
    text-decoration: underline;
}

.cm-editor .cm-link-error {
    color: #d24b4e;
}

.cm-editor .cm-inline-code {
    display: inline-block;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    background: rgba(63, 67, 80, 0.1);
}

.cm-editor .cm-image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
}

/* Blockquote *********************************************************************************************************/
.cm-editor .cm-blockquote-line:not(.cm-selected) {
    padding-left: 38px;
    padding-right: 10px;
}

.cm-editor .cm-blockquote-firstLine {
    position: relative;
    padding-top: 10px;
}

.cm-editor .cm-blockquote-firstLine:not(.cm-selected)::before {
    position: absolute;
    top: 5px;
    left: 8px;
    content: '\f10d';
    font-family: FontAwesome, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    opacity: 0.6;
}

.cm-editor .cm-blockquote-lastLine {
    padding-bottom: 10px;
}

/* Lists **************************************************************************************************************/
.cm-editor .cm-bulletList-line:not(.cm-selected) {
    display: list-item;
    list-style: disc inside none;
}

.cm-editor .cm-orderedList-line:not(.cm-selected) {
    display: table-row;
}

.cm-editor .cm-orderedList-line:not(.cm-selected)::before {
    display: table-cell;
    content: attr(data-index);
    padding-right: 8px;
    text-align: right;
}

.cm-editor .cm-bulletList-firstLine,
.cm-editor .cm-orderedList-firstLine.cm-selected,
.cm-editor .cm-orderedList-firstLine:not(.cm-selected)::before {
    padding-top: 2px;
}

.cm-editor .cm-bulletList-lastLine,
.cm-editor .cm-orderedList-lastLine.cm-selected,
.cm-editor .cm-orderedList-lastLine:not(.cm-selected)::before {
    padding-bottom: 2px;
}
