.cm-editor-wrapper {
    --cm-font-size: 13.5px;
    --cm-font-family: 'Open Sans', sans-serif;
    --cm-heading-font-family: var(--cm-font-family);
    --cm-monospace-font-family: 'Courier New', monospace;

    --cm-bg-color-rgb: 63, 67, 80;
    --cm-highlight-color-rgb: 56, 111, 229;
    --cm-error-color-rgb: 210, 75, 78;

    --cm-color: #3f4350;
    --cm-faded-color: #ccc;
    --cm-border-color: rgba(var(--cm-bg-color-rgb), 0.2);
}

.cm-editor-wrapper.cm-disabled {
    background: rgba(var(--cm-bg-color-rgb), 0.1);
}

.cm-editor.cm-focused {
    outline: none;
}

.cm-editor .cm-scroller {
    font-family: var(--cm-font-family);
    font-size: var(--cm-font-size);
    line-height: 1.5;
    color: var(--cm-color);
}

.cm-editor .cm-line {
    padding: 0;
}

.cm-editor .cm-activeLine {
    background: transparent;
}

.cm-editor.cm-focused .cm-activeLine {
    background: rgba(var(--cm-highlight-color-rgb), 0.1);
}

/* Selection **********************************************************************************************************/
/* .cm-editor .cm-selectionBackground,
.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground {
    background: rgb(223, 239, 255);
} */

.cm-editor .cm-matchingBracket,
.cm-editor.cm-focused .cm-matchingBracket,
.cm-editor .cm-nonmatchingBracket,
.cm-editor.cm-focused .cm-nonmatchingBracket,
.cm-editor .cm-selectionMatch {
    display: inline-block;
    border-radius: 2px;
    background: rgba(var(--cm-highlight-color-rgb), 0.35);
}

.cm-editor .cm-nonmatchingBracket::before {
    background: rgba(var(--cm-error-color-rgb), 0.25);
}

/* Headings & HR ******************************************************************************************************/
.cm-editor .cm-line.cm-heading {
    font-family: var(--cm-heading-font-family);
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cm-editor .cm-line.cm-heading:first-child {
    padding-top: 0;
}

.cm-editor .cm-line.cm-heading-1 {
    font-size: calc(var(--cm-font-size) * 2.074);
}

.cm-editor .cm-line.cm-heading-2 {
    font-size: calc(var(--cm-font-size) * 1.8518);
}

.cm-editor .cm-line.cm-heading-3 {
    font-size: calc(var(--cm-font-size) * 1.6296);
}

.cm-editor .cm-line.cm-heading-4 {
    font-size: calc(var(--cm-font-size) * 1.4074);
}

.cm-editor .cm-line.cm-heading-5 {
    font-size: calc(var(--cm-font-size) * 1.1111);
}

.cm-editor .cm-line.cm-heading-6 {
    font-size: var(--cm-font-size);
}

.cm-editor .cm-line.cm-horizontal-rule {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cm-editor .cm-line.cm-horizontal-rule:not(.cm-focused) {
    color: transparent;
}

.cm-editor .cm-line.cm-horizontal-rule:not(.cm-focused)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(var(--cm-bg-color-rgb), 0.25);
    cursor: text;
}

/* Inline *************************************************************************************************************/
.cm-editor .cm-strong {
    font-weight: bold;
}

.cm-editor .cm-emphasis {
    font-style: italic;
}

.cm-editor .cm-strike-through {
    text-decoration: line-through;
}

.cm-editor .cm-clickable-link {
    color: rgb(var(--cm-highlight-color-rgb));
}

.cm-editor .cm-clickable-link:hover {
    text-decoration: underline;
}

.cm-editor .cm-link-error {
    color: rgb(var(--cm-error-color-rgb));
}

.cm-editor .cm-inline-code {
    display: inline-block;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    background: rgba(var(--cm-bg-color-rgb), 0.1);
}

.cm-editor .cm-image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
}

/* Blockquote *********************************************************************************************************/
.cm-editor .cm-blockquote-line:not(.cm-focused) {
    padding-left: 38px;
    padding-right: 10px;
}

.cm-editor .cm-blockquote-firstLine {
    position: relative;
    padding-top: 10px;
}

.cm-editor .cm-blockquote-firstLine:not(.cm-focused)::before {
    position: absolute;
    top: 5px;
    left: 8px;
    content: '\f10d';
    font-family: FontAwesome, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    opacity: 0.6;
}

.cm-editor .cm-blockquote-lastLine {
    padding-bottom: 10px;
}

/* Lists **************************************************************************************************************/
.cm-editor .cm-bulletList-line:not(.cm-focused) {
    display: list-item;
    list-style: outside none disc;
    margin-left: 22px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused) {
    position: relative;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='1'] {
    /* 8 на цифру, 3 на точку, 8 отступ до текста */
    padding-left: 19px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='2'] {
    padding-left: 27px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='3'] {
    padding-left: 35px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)::before {
    position: absolute;
    left: 0;
    content: attr(data-index);
    text-align: right;
    white-space: nowrap;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='1']::before {
    /* 8 на цифру, 3 на точку */
    width: 11px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='2']::before {
    width: 19px;
}

.cm-editor .cm-orderedList-line:not(.cm-focused)[data-max-digits='3']::before {
    width: 27px;
}

.cm-editor .cm-bulletList-firstLine,
.cm-editor .cm-orderedList-firstLine {
    padding-top: 2px;
}

.cm-editor .cm-bulletList-lastLine,
.cm-editor .cm-orderedList-lastLine {
    padding-bottom: 2px;
}

/* Fenced Code ********************************************************************************************************/
.cm-editor .cm-fencedCode-firstLine,
.cm-editor .cm-fencedCode-middleLine,
.cm-editor .cm-fencedCode-lastLine {
    position: relative;
    font-family: var(--cm-monospace-font-family);
}

.cm-editor .cm-fencedCode-firstLine:not(.cm-focused),
.cm-editor .cm-fencedCode-firstLine:not(.cm-focused) > *,
.cm-editor .cm-fencedCode-lastLine:not(.cm-focused),
.cm-editor .cm-fencedCode-lastLine:not(.cm-focused) > * {
    color: transparent;
}

.cm-editor .cm-fencedCode-firstLine:not(.cm-focused)::before,
.cm-editor .cm-fencedCode-lastLine:not(.cm-focused)::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 11px;
    border: 1px solid var(--cm-border-color);
    box-sizing: content-box;
    pointer-events: none;
}

.cm-editor .cm-fencedCode-firstLine:not(.cm-focused)::before {
    bottom: 0;
    border-style: solid solid none solid;
    border-radius: 4px 4px 0 0;
}

.cm-editor .cm-fencedCode-lastLine:not(.cm-focused)::before {
    top: 0;
    border-style: none solid solid solid;
    border-radius: 0 0 4px 4px;
}

.cm-editor .cm-fencedCode-middleLine {
    border-left: 1px solid var(--cm-border-color);
    border-right: 1px solid var(--cm-border-color);
    /* 12 отступ до цифр, 8 на цифру (минимум 27px), 4 от цифр до разделителя, 1 на разделитель, 12 до текста */
    padding-left: 56px;
    padding-right: 8px;
}

.cm-editor .cm-fencedCode-middleLine.cm-focused {
    border-color: transparent;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='4'] {
    padding-left: 61px;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='5'] {
    padding-left: 69px;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='6'] {
    padding-left: 77px;
}

.cm-editor .cm-fencedCode-middleLine::before {
    content: attr(data-index);
    position: absolute;
    top: -2px;
    left: 0;
    bottom: -2px;
    min-width: 27px;
    padding: 2px 4px 0 12px;
    border-right: 1px solid var(--cm-faded-color);
    box-sizing: content-box;
    color: var(--cm-faded-color);
    white-space: nowrap;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='4']::before {
    width: 32px;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='5']::before {
    width: 40px;
}

.cm-editor .cm-fencedCode-middleLine[data-max-digits='6']::before {
    width: 48px;
}
